<div class="footer-wrapper">
    
    <div class="footer-all-links">
        
        <ul class="footer-links">
            <li class="footer-links-heading"> <a href="#">Cat Behavior</a> </li>
            <li class="footer-links-text"> <a href="https://www.jacksongalaxy.com">Jackson Galaxy</a> </li>
            <li class="footer-links-text"> <a href="#">Kitty Universe</a> </li>
            <li class="footer-links-text"> <a href="#">Cat Behavior</a> </li>
        </ul>

        <ul class="footer-links">
            <li class="footer-links-heading"> <a href="#">Movies</a> </li>
            <li class="footer-links-text"> <a href="https://www.catsmovie.com">Cats The Movie</a> </li>
            <li class="footer-links-text"> <a href="https://www.imdb.com/title/tt0065421/">The Aristocats</a> </li>
            <li class="footer-links-text"> <a href="https://www.imdb.com/title/tt3606888/">A Street Cat Named Bob</a></li>
        </ul>

        <ul class="footer-links">
            <li class="footer-links-heading"> <a href="#">Other</a> </li>
            <li class="footer-links-text"> <a href="https://feline-nutrition.org/nutrition/how-to-transition-your-cat-to-a-raw-diet">Feline Nutrition</a> </li>
            <li class="footer-links-text"> <a href="https://www.petsmart.com/cat/toys/">Interactive Toys</a> </li>
            <li class="footer-links-text"> <a href="https://medium.com/tenderlymag/are-cats-liquid-ce6d5e5a881c">Are Cats Liquid?</a> </li>
        </ul>
    
    </div>

    <div class="footer-subscribe">
        <p>Subscribe to our newsletter</p>
        <input id="email" type="email" name="email" placeholder="Your Email Address" />
    </div>
    
</div>
