.navigation {
    padding: 0em;
} 

.branding {
    display: flex;
}

.navigation ul {
    padding-top: 1.2em;
    display: flex;
    justify-content: flex-end;
}

.navigation ul li {
    display: block;
    margin: 0em 1em;
}

.navigation a {
    display: block;
    padding: 0.5em 1.5em;
    color: #333;
    text-decoration: none;
}

.navigation a:hover {
    background: hotpink;
    color: #FFF;
}

.branding img {
    width: 5em;
    height: 5em;
}