.contacts-all-wrapper {
    margin: 0 auto;
    padding: 3em;
}

.contacts-all-wrapper iframe {
    width: 100%;
    display: block;
    padding-top: 2em;
}

.contact-form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: var(--primary-color, aquamarine);
}

.contact-form label {
    width: 100%;
    padding-bottom: 1em;
    margin: 0 auto;
}


input[type=text],
input[type=email],
{
  max-width: 25em;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.contact-form textarea {
    max-width: 24em;
    resize: none;
    max-width: 25em;
    padding: 12px 20px;
    margin: 8px 0; 
    border-radius: 4px;
    box-sizing: border-box;
}