.footer-wrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--primary-color, black);
    color: white;
    padding-top: 1em;
    font-size: 0.8em;
    
    ul {
        list-style: none;
        
        li a {
            text-decoration: none;
            color: white;
        }
    }
}


.footer-links {
    flex: 1;
}

.footer-subscribe {
    flex: 3;
}


.footer-links-heading {
    font-size: 1.2em;
    font-weight: 800;
    padding-bottom: 0.3em;
    
}
