.gallery {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto;
    align-content: start;
    grid-gap: 0.5em;
}

.gallery li {
    display: block;
    list-style: none outside;
    position: relative;
    overflow: hidden;
    
    &:before {
        display: block;
        content: '';
        padding-top: 100%;
    }
    
    &.portraits {
        grid-row: span 2;
        grid-column: span 1;
        
        &:before {
            padding-top: 200%;
        }
    }
    
    &.big-square {
        grid-column: span 2;
        grid-row: span 2;
        
        &:before {
            padding-top: 100%;
        }
    }
    
    &.small-square { 
        grid-column: span 1;
        grid-row: span 1;
        &:before {
            padding-top: 100%;
        }
    }
}

.gallery li a {
    display: block;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    
}

.gallery li a img {
    display: block;
    position: absolute;
    width: 102%;
    height: auto;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 900px) {
    .gallery {
        grid-template-columns: repeat(2, 2fr);
        grid-gap: 1em;
        grid-auto-flow: dense;
    }
}

@media only screen and (max-width: 600px) {
    .gallery {
        display: block;
    }
    
    .gallery li {
            border: 1em solid white;
            border-bottom: none;
        }
    
}

