.site {
    padding-top: 2em;
    max-width: 70em;
    margin: 0 auto;
}

.site-header {
    display: flex;   
}

.branding {
    flex: 1;
    padding-left: 0em;
}

.header-read {
    background-image: url("https://i.ibb.co/BrWFhBy/header-cosmos-1920-720.jpg");
    background-size: cover;
    min-height: 20em;
}

.upper-home {
    display: flex;
    flex-wrap: wrap;
}

.upper-text-home {
    flex: 3;
    flex-shrink: 3;
    padding-left: 2em;
    padding-top: 1em;
    
    p {
        font-size: 17px;
    }
}

.upper-media-home {
    flex: 2;
    
}

.upper-media-home-container {
    background-image: url("https://i.ibb.co/Wfs7hRc/poping-buffy-head-2.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    min-height: 15em;    
}

.important-info {
    position: relative;
    padding: 1em;
    background-color: var(--secondary-color, greenyellow);
}

.important-info p {
    padding-left: 4em;
    text-align: left;
    padding-top: 0.5em;
}

.important-info p:before {
    font-family: "FontAwesome";
    content: "\f071";
    font-size: 2em;
    position: absolute;
    left: 1em;
    top: 0.5em;
}

@media only screen and (max-width: 900px) {
    .upper-home {
        display: block;
    }
    
    .upper-text-home {
        padding: 1em;
    }
    
    .important-info p:before {
    top: 0.8em;
    }
}




