.site {
    max-width: 60em;
    margin: 0 auto;
    background-color: pink;
}

.site-header {
    display:     flex;   
}

.site-main {
}

.navigation {
    flex: 2;
}

.branding {
    flex: 1;
}

.contacts-footer-subscribe {
    background: url("/assets/header_cosmos-1920-720.jpg") center no-repeat;
    width: 60em;
    height: 18em;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.contacts-footer-subscribe:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
    pointer-events: none;
}

.header-homepage {
    background: #FFD0FF;
    background: -webkit-linear-gradient(top left, #FFD0FF, #01BEDA);
    background: -moz-linear-gradient(top left, #FFD0FF, #01BEDA);
    background: linear-gradient(to bottom right, #FFD0FF, #01BEDA); 
    display: flex;
}

.header-homepage img {
    max-width:30em;
    max-height: 30em;
    margin: 0 auto;
    outline:4px solid pink;
    outline-offset:-100px;
    border:50px solid transparent;
    border-width:150px 50px 50px 150px;
    margin:-75px 0 0 -75px;
    position: relative;
}
.site-footer {
    background: #FFD0FF;
    background: -webkit-linear-gradient(top left, #FFD0FF, #01BEDA);
    background: -moz-linear-gradient(top left, #FFD0FF, #01BEDA);
    background: linear-gradient(to bottom right, #FFD0FF, #01BEDA);  
}




