.navigation-mobile {
    display: none;
    padding-right: 1em;
    padding-top: 1em;
}

.iconbox svg {
    width: 3em;
    color: var(--primary-color, black);
    padding: 0.4em;
    margin-left: 0.5em;
}

.branding {
    display: flex;
    padding-left: 1em;
    
    img {
        width: 5em;
        height: 5em;
    }
}


.navigation-mobile a svg {
    color: var(--primary-color, black);
    transition: color 0.3s ease-in;
    
     &:hover {
    color: var(--secondary-color, black);
    }
}

 .navigation {
    padding: 0em;
    flex: 2;
    
        ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-top: 1em;
            li {
                display: block;
                margin: 0.3em;
            }
    }
} 

@media only screen and (max-width: 900px) {
    .navigation {
        display: none;
    }
    .navigation-mobile {
    display: block;
    }
}


@media only screen and (max-width: 600px) {
    
    .iconbox svg {
        width: 2.7em;
    }
    
    .branding img {
        width: 4em;
        height: 4em;
    }
    
    .branding p {
        display: none;
    }
    
}


.navigation ul li a {
    display: block;
    background-color: var(--primary-color, black);
    padding: 0.4em 1.3em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.1em;
    border-radius: 0.2em;
    transition: background 0.3s ease-in; 
    
    &:hover {
    text-decoration: line-through;
    background-color: var(--secondary-color, green);
    color: var(--black-text-color, black);
    }
}


