.navigation-mobile {
    display: none;
    padding-right: 1em;
    padding-top: 1em;
}


.navigation-mobile a svg {
    color: var(--primary-color, black);
}

 .navigation {
    padding: 0em;
    flex: 2;
    
        ul {
        display: flex;
        justify-content: flex-end;
        padding-top: 1em;
            li {
                display: block;
                margin: 0.3em;
            }
    }
} 

@media only screen and (max-width: 900px) {
    .navigation {
        display: none;
    }
    .navigation-mobile {
    display: block;
}
}

.navigation ul li a {
    display: block;
    background-color: var(--primary-color, black);
    padding: 0.4em 1.3em;
    color: white;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 0.1em;
    border-radius: 0.2em;
    
    a:hover {
    text-decoration: line-through;
    }
}


.branding {
    display: flex;
    
    img {
        width: 5em;
        height: 5em;
    }
}

.iconbox svg {
    width: 3em;
    color: var(--primary-color, black);
    padding: 0.4em;
    margin-left: 0.5em;
}
