.space-home {
    min-height: 40vh;
    background-color: #363838;
    color: white;
    text-align: center;
    border-radius: 5px;
}

.space-container-wrapper {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: center;
}

.space-container {
    background-color: rgba(255,255,255,0.2);
    min-width: 16em;
    padding-bottom: 2em;
    margin: 1.5em;
    border-radius: 5px;
    border: 2px solid transparent;
    
        &:hover {
        background-color: rgba(255,255,255,0.1);
        border: 2px solid rgba(255,255,255,0.6);
        transition: background-color .3s linear, border .3s linear;
            
    }
}

.name {
    font-size: 1.7em;
    font-weight: 500;
    padding: 0;
    padding-top: 1em;
    text-align: center;
}

.description {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 400;
    letter-spacing: 0.1em;
    padding: 0;
}

.space-container ul {
    list-style: none;
    text-align: left;
    padding-top: 2em;
}

.reasons li {
    padding-bottom: 0.5em;
}

.reasons li:before {
    font-family: "FontAwesome";
    content: "\f005";
    font-size: 0.9em;
    padding-right: 0.3em;
}

.quiz {
    padding: 2em;
}

.quiz p {
    padding-bottom: 1em;
}

.quiz-button {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.9em;
    color: var(--text-black-color, black);
    background-color: var(--secondary-color);
    padding: (0.8em 1.5em);
    border-radius: 4px;
    width: 7em;
}

.iconbox2 svg {
    width: 4em;
    color: white;
    padding: 0.4em;
    margin-left: 0.5em;
}

.horse svg {
    width: 3.2em;
}


.home-video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
    
        iframe {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}


