@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif&display=swap');

html {
    font-size: var(--font-size, 17px);
    font-family: var(--font-family, Helvetica, sans-serif);
    line-height: var(--font-line-height, 1.5);
    color: var(--text-black-color, black);
}

body, form, input, textarea, option, select, button {
    font: inherit;
}

ul, ol, p {
    padding-bottom: 1.5em;
}

ul, ol {
    padding-left: 2em;
}

blockquote,
h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
    font-weight: var(--font-weight-headings, 900);
}

h1 { font-size: 2.6em; }
h2 { font-size: 2.0em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

blockquote {
    padding: 0 2.5em;
    border-left: 2px solid #000;
    font-family: Georgia, serif;
    margin-bottom: 1.5em;
}

blockquote p {
    font-style: italic;
    /* padding: 0; */
}

blockquote p:last-child {
    padding-bottom: 0;
}

blockquote p.author {
    text-align: right;
}

.branding h3 {
    padding-top: 1.2em;
}

.branding p {
    padding-top: 2em;
}

.branding p a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    text-transform: uppercase;
}



