:root {
    
    --font-size: 18px;
    --font-line-height: 1.6;
    --font-family: Helvetica, sans-serif;
    --font-family-special: 'IBM Plex Serif', serif; 
    --font-weight-headings: 900;
    
    --primary-color: #0F4C81;
    --secondary-color: #C0D725;
    --text-black-color: #363838;
}